/* ---------Utilities--------- */
.half-width{
    width: 40%;;
}
/* ---------bodystyle--------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FFFFFF;
}
/* ---------Hero sections--------- */

header{
    width: 1440px;
    height: 677px;
    background-color: #2D25A0;
    transition: transform 0.3s;;
}
header:hover .banner{
    transform: scale(1.2);
}
header>nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px 0 59px 0;
}

.menu-items a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 36px;
}
.login>button{
    width: 123px;
    height: 44px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.login>button>a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}
.login>button>a>i{
    margin-right: 8px;
}
.hero-section{
    display: flex;
    justify-content: center;
}
.hero-section .hero-left-content>h1{
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
}
.main-btn{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.main-btn a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}
.main-btn>a>i{
    margin-left: 5px;
    font-size: 16px;

}
.hero-section .hero-image img{
    width: 556px;
    height: 438px;
}

/* ---------Players sections--------- */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.player-section{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}
.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 474px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px lightgrey;
}
.player-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-image img{
    width: 300px;
    height: 256px;
}
.player-details .player-name{
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
    margin-bottom: 10px;
}
.player-details .player-info{
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #6C6C6C;
    width: 300px;
}
/* ---------Vision sections--------- */
.vision {
    height: 780px;
    background-image: url(https://cloudinary.fifa.com/m/5859cf78f0052b84/original/FDP-The_Vision_Website_cover.jpg?tx=c_fill,ar_1.78,g_auto,q_auto:best,w_1400);
}
.vision-text{
    width: 469px;
    height: 120px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #FFFFFF;
    position: relative;
    left: 12%;
    top: 30%;
    margin-bottom: 10px;
}
.vision-info{
    width: 404px;
    height: 113px;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    left: 12%;
    top: 30%;
}
.vision-button{
    position: relative;
    left: 12%;
    top: 30%;
    cursor: pointer;
}
.vision-button a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}
.fa, .fas {
    font-weight: 900;
    margin-left: 8px;
}

/* ---------highlight sections--------- */
.highlight-container{
    margin-top: 165px;
}
.highlight{
    display: flex;
    justify-content: center;

}
.highlight-content{
    width: 469px;
    height: 241px;
    margin-right: 66px;
}
.highlight-text{
    width: 469px;
    height: 120px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #0A0826;
    margin-bottom: 8px;
}
.highlight-description{
    width: 404px;
    height: 113px;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 24px;
}
.highlight-image img{
    width: 501px;
    height: 427px;
}
hr{
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* ---------Partners sections--------- */
.copa-partners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 158px;
}
.section-title{
    font-size: 28px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 80px;
}
.partners{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 300px;
    row-gap: 60px;
}

/* ---------Footer sections--------- */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 158px;
}
.footer-image img{
    width: 309px;
    height: 67px;
}
.social-icons{
    display: flex;
    padding-top: 20px;
}
.social-icons>div{
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;

}
.social-icons>div>i{
    width: 32px;
    height: 32px;
    text-align: center;
}
.copyright{
    padding-top: 20px;
    font-size: 18px;
    color: #000000;
}

/* ---------For mobile screen---------  */
@media only screen and (max-width: 688px) {
    header{
        width: 360px;
        height: 695px;
    }
    header nav {
        display: none;
    }
    .hero-section {
        flex-direction: column;
    }
    .half-width {
        width: 40%;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 8%;
    }
    .hero-section .hero-left-content>h1 {
        font-size: 36px;
        font-weight: 700;
        color: #FFFFFF;
        
    }
    .main-btn {
        background-color: #E02C6D;
        font-size: 16px;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        width: 130px;
        height: 40px;
    }
    .hero-section .hero-image img {
        width: 329px;
        height: 259.17px;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .vision-text {
        font-size: 36px;
        line-height: 47px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .vision-info {
        width: 340px;
        font-size: 16px;
        line-height: 28px;
    }
    .highlight {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .highlight-content {
        margin-bottom: 34px;
    }
    .highlight-text {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 8px;
    }
    .highlight-description {
        width: 329px;
        height: 143px;
    }
    .main-btn {
        width: 172px;
        height: 44px;

    }
    .highlight-image img {
        width: 328px;
        height: 248px;
    }
    .partners {
        grid-template-columns: repeat(2,1fr);
        column-gap: 50px;
        row-gap: 60px;
    }
}

/* ---------For tablet screen---------  */