/* ---------Utilities--------- */
.half-width{
    width: 40%;;
}
/* ---------bodystyle--------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FFFFFF;
}
/* ---------Hero sections--------- */

header{
    width: 1440px;
    height: 677px;
    background-color: #2D25A0;
}
header>nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px 0 59px 0;
}

.menu-items a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 36px;
}
.login>button{
    width: 123px;
    height: 44px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
}
.login>button>i{
    margin-right: 8px;
}
.hero-section{
    display: flex;
    justify-content: center;
}
.hero-section .hero-left-content>h1{
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
}
.main-btn{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
}
.main-btn>i{
    margin-left: 5px;
    font-size: 16px;

}
.hero-section .hero-image img{
    width: 556px;
    height: 438px;
}

/* ---------Players sections--------- */
/* .players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}
.player{
    width: 330px;
    height: 474px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px lightgrey;
}
.player-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.player-section{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}
.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 474px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px lightgrey;
}
.player-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-image img{
    width: 300px;
    height: 256px;
}
.player-details .player-name{
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
    margin-bottom: 10px;
}
.player-details .player-info{
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #6C6C6C;
    width: 300px;
}
/* ---------Vision sections--------- */
.vision{
    height: 780px;
    background-image: url(/images/cover-img.png);
}
.vision-text{
    width: 469px;
    height: 120px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #FFFFFF;
    position: relative;
    left: 12%;
    top: 30%;
}
.vision-info{
    width: 404px;
    height: 113px;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    left: 12%;
    top: 30%;
}
.vision-button{
    position: relative;
    left: 12%;
    top: 30%;
}

/* ---------highlight sections--------- */
.highlight-container{
    margin-top: 165px;
}
.highlight{
    display: flex;
    justify-content: center;

}
.highlight-content{
    width: 469px;
    height: 241px;
    margin-right: 66px;
}
.highlight-text{
    width: 469px;
    height: 120px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #0A0826;
    margin-bottom: 8px;
}
.highlight-description{
    width: 404px;
    height: 113px;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 24px;
}
.highlight-image img{
    width: 501px;
    height: 427px;
}
hr{
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* ---------Partners sections--------- */
.copa-partners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 158px;
}
.section-title{
    font-size: 38px;
    font-weight: 500;
    padding-bottom: 50px;
}
.partners{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 300px;
    row-gap: 60px;
}

/* ---------Footer sections--------- */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 158px;
}
.footer-image img{
    width: 309px;
    height: 67px;
}
.social-icons{
    display: flex;
    padding-top: 20px;
}
.social-icons>div{
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;

}
.social-icons>div>i{
    width: 32px;
    height: 32px;
    text-align: center;
}
.copyright{
    padding-top: 20px;
    font-size: 18px;
    color: #000000;
}
